pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
}
code.hljs {
	padding: 3px 5px;
}
/*

GML Theme - Meseta <meseta@gmail.com>

*/
.hljs {
	background: #222222;
	color: #c0c0c0;
}
.hljs-keyword {
	color: #ffb871;
	font-weight: bold;
}
.hljs-built_in {
	color: #ffb871;
}
.hljs-literal {
	color: #ff8080;
}
.hljs-symbol {
	color: #58e55a;
}
.hljs-comment {
	color: #5b995b;
}
.hljs-string {
	color: #ffff00;
}
.hljs-number {
	color: #ff8080;
}
.hljs-attribute,
.hljs-selector-tag,
.hljs-doctag,
.hljs-name,
.hljs-bullet,
.hljs-code,
.hljs-addition,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-type,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion,
.hljs-title,
.hljs-section,
.hljs-function,
.hljs-meta .hljs-keyword,
.hljs-meta,
.hljs-subst {
	color: #c0c0c0;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}
