pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*!
  Theme: An Old Hope – Star Wars Syntax
  Author: (c) Gustavo Costa <gusbemacbe@gmail.com>
  Maintainer: @gusbemacbe

  Original theme - Ocean Dark Theme – by https://github.com/gavsiu
  Based on Jesse Leite's Atom syntax theme 'An Old Hope'
    https://github.com/JesseLeite/an-old-hope-syntax-atom
*/
/* Millenium Falcon */
.hljs {
  background: #1c1d21;
  color: #c0c5ce;
}
/* Death Star Comment */
.hljs-comment,
.hljs-quote {
  color: #b6b18b;
}
/* Darth Vader */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #eb3c54;
}
/* Threepio */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #e7ce56;
}
/* Luke Skywalker */
.hljs-attribute {
  color: #ee7c2b;
}
/* Obi Wan Kenobi */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #4fb4d7;
}
/* Yoda */
.hljs-title,
.hljs-section {
  color: #78bb65;
}
/* Mace Windu */
.hljs-keyword,
.hljs-selector-tag {
  color: #b45ea4;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
