pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em;
}
code.hljs {
	padding: 3px 5px;
}
/*
Theme: Srcery
Description: Srcery dark color scheme for highlight.js
Author: Chen Bin <chen.bin@gmail.com>
Maintainer: @redguardtoo
Website: https://srcery-colors.github.io/
Date: 2021-04-13
*/
.hljs {
	background: #1c1b19;
	/* Black */
	color: #fce8c3; /* Bright White */
}
/* Bright White */
.hljs-subst,
.hljs-quote,
.hljs-literal {
	color: #fce8c3;
}
/* Bright Blue */
.hljs-type,
.hljs-symbol {
	color: #68a8e4;
}
/* Red */
.hljs-keyword,
.hljs-deletion {
	color: #ef2f27;
}
/* Yellow */
.hljs-name,
.hljs-function,
.hljs-attribute,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-section,
.hljs-title {
	color: #fbb829;
}
/* Cyan */
.hljs-code,
.hljs-variable,
.hljs-property,
.hljs-template-variable,
.hljs-class {
	color: #0aaeb3;
}
/* Bright Green */
.hljs-string,
.hljs-regexp,
.hljs-bullet,
.hljs-addition {
	color: #98bc37;
}
/* Bright Magenta */
.hljs-built_in,
.hljs-params {
	color: #ff5c8f;
}
/* Blue */
.hljs-template-tag,
.hljs-selector-tag {
	color: #2c78bf;
}
/* Bright Black */
.hljs-link,
.hljs-number,
.hljs-comment,
.hljs-meta {
	color: #918175;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}
/* @see https://github.com/srcery-colors/srcery-emacs for reference */
