/* @import "./style/nav.postcss"; */
@tailwind base;

@layer base {
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
}

@tailwind components;

@layer components {
	/* other classes */

	.container {
		@apply m-4;
	}
}

@tailwind utilities;

