@import "../static/styles/docs.css";
@import "../node_modules/flowbite/dist/flowbite.css";

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	html {
		-webkit-text-size-adjust: 100%;
		font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
		line-height: 1.5;
		-moz-tab-size: 4;
		tab-size: 4;
	}

  
  .related-components,
	.references {
		@apply w-full flex flex-wrap;
	}

	.related-components p,
	.references p {
		@apply w-full md:w-1/2 lg:w-1/3;
	}

	#mainContent > pre {
		@apply text-sm rounded-xl overflow-auto w-full my-4 mx-auto bg-gradient-to-r text-gray-600 dark:text-gray-400 bg-gray-50 dark:bg-gray-900 border border-gray-200 dark:border-gray-700 p-2 sm:p-6;
	}
}

